
<div class="header">
    <div class="col-sm-6 col-md-6 col-lg-6 imagesTelephones">
        <img src="/images/general/features2b.png" alt="Téléphone de dos" />
    </div>

    <div class="row" style="width:90%;margin-left:-100px;margin-top:50px">
        <div>
            <h2>Bug Page 1</h2>
            <p class="content_description">This page throws an exception on server side</p>
        </div>
        <ul>
            <li>
                <img class="icone earth" src="/images/icons/IconeMap.svg" alt="Icone avec une carte" />
                <p> Slow page because of server side bad coding</p>
            </li>
            <li>
                <img class="icone music_note" src="/images/icons/IconeMusic.svg" alt="Icone avec une note de musique" />
                <p>Slow code on server side (in Controllers/HomeController.cs in method SlowServerPage())</p>
            </li>
        </ul>
    </div>
</div>

<!-- End  browsing -->
<!-- Start section FOOTER -->

<footer>
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-12 col-md-12 col-lg-12 col-centered">
                <div>
                    <ul>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeFacebook.svg" alt="Icone Facebook" /></a></li>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeYoutube.svg" alt="Icone YouTube" /></a></li>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeInstagram.svg" alt="Icone Instagram" /></a></li>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeTwitter.svg" alt="Icone Twitter" /></a></li>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeGoogleplus.svg" alt="Icone Google+" /></a></li>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeRss.svg" alt="Icone RSS" /></a></li>
                        <li><a href="#"><img class="icone" src="/images/icons/IconeLinkedin.svg" alt="Icone Linkedin" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p>© 2014 Contoso. All rights reserved.</p>
</footer>
